<li class="list-group-item">
<code>Comment.find(<%= comment.id %>)</code>
<%= latex_markdown_to_html(comment.body) %>
<% if comment.image.exists? %>
    <div class="card-img-top">
    <%= image_tag comment.image.url(:medium) %>
    </div>  
<% end %>
</li>