    <ul class="nav">
    <li class="nav-item">
        <%= link_to 'New article', new_course_article_path, class:"nav-link" %>
   </li>
   </ul>
   <div class="container">
    <div class="row">
            <div class="col-md">
                <div>
                    <% @tags.order("name asc").each do |tag| %>
                        <% if tag.articles.size > 0 %>
                            <%= link_to tag.name, course_tag_path(@course, tag) %> <%= tag.articles.size %><br/>
                            <%= tag.description %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>