
    <div class="row">
        <div class="col-md">
            <ul>
                <% @tags.order("name asc").each do |tag| %>
                    <% if tag.articles.size > 0 %>
                        <li><%= link_to tag.name, course_tag_path(@course, tag) %> <%= tag.articles.size %></li>
                    <% end %>
                <% end %>
            </ul>
        </div>
    </div>
</div>